<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Lorem ipsum dolor sit amet, onsectetur adipiscing elit. Ut diam justo, hendrerit et facilisis blandit, maximus id est. Suspendisse potenti. Aliquam porttitor erat in augue tincidunt, vel faucibus arcu malesuada. Proin non venenatis odio. Aenean ut erat ut eros fermentum lacinia at vitae sem. Suspendisse at viverra tortor. Sed finibus lorem id elementum tempor. Integer posuere mi vitae varius vulputate. Quisque vitae neque.</p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><a href="#"><i class="fa-brands fa-whatsapp"></i>71 9 991881008</a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a>@usecouro_slavador</li>
                <li><a href=""> <i class="fa-regular fa-envelope"></i>email@email.com</a></li>
            </ul>

        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>