<h2 class="contact__title">Entre em contato</h2>
<div class="container">
    <div class="contact__container">
        <form class="contact-form" [formGroup]="formContato">
            <input type="text" placeholder="Digite seu nome" formControlName="nome"
                [class.valid]="formContato.controls['nome'].valid"
                [class.invalid]="formContato.controls['nome'].invalid && (formContato.controls['nome'].touched || formContato.controls['nome'].dirty )">
            <div
                *ngIf="formContato.controls['nome'].invalid && (formContato.controls['nome'].touched || formContato.controls['nome'].dirty )">
                <small style="color:red " *ngIf="formContato.controls['nome'].hasError('minlength')">Esse campo precisa
                    no minimo 4 caracteres</small>
                <small style="color:red" *ngIf="formContato.controls['nome'].hasError('required')">Esse campo precisa
                    ser preenchido</small>
            </div>
            <input type="assunto" placeholder="Digite o assunto" formControlName="assunto"
                [class.valid]="formContato.controls['assunto'].valid"
                [class.invalid]="formContato.controls['assunto'].invalid && (formContato.controls['assunto'].touched || formContato.controls['assunto'].dirty )" />
            <div
                *ngIf="formContato.controls['assunto'].invalid && (formContato.controls['assunto'].touched || formContato.controls['assunto'].dirty )">
                <small style="color:red" *ngIf="formContato.controls['assunto'].hasError('minlength')">Esse campo
                    precisa no minimo 11 caracteres</small>
                <small style="color:red" *ngIf="formContato.controls['assunto'].hasError('required')">Esse campo precisa
                    ser preenchido</small>
            </div>
            <input type="tel" placeholder="(00) 0 0000-0000" 
            mask="(00) 0 0000-0000" 
            formControlName="tel"
            [class.valid]="formContato.controls['tel'].valid"
            [class.invalid]="formContato.controls['tel'].invalid && (formContato.controls['tel'].touched || formContato.controls['tel'].dirty )" />
        <div
            *ngIf="formContato.controls['tel'].invalid && (formContato.controls['tel'].touched || formContato.controls['tel'].dirty )">
            <small style="color:red" *ngIf="formContato.controls['tel'].hasError('minlength')">Esse campo
                precisa no minimo 11 caracteres</small>
            <small style="color:red" *ngIf="formContato.controls['tel'].hasError('required')">Esse campo precisa
                ser preenchido</small>
        </div>
            <input type="email" placeholder="Digite seu e-mail"
            formControlName="email"
            [class.valid]="formContato.controls['email'].valid"
            [class.invalid]="formContato.controls['email'].invalid && (formContato.controls['email'].touched || formContato.controls['email'].dirty )" />
        <div
            *ngIf="formContato.controls['email'].invalid && (formContato.controls['email'].touched || formContato.controls['email'].dirty )">
            <small style="color:red" *ngIf="formContato.controls['email'].hasError('email')">Esse campo
                precisa ser um e-mail válido.</small>
            <small style="color:red" *ngIf="formContato.controls['email'].hasError('required')">Esse campo precisa
                ser preenchido</small>
        </div>
            <textarea maxlength="300" placeholder="Digite sua mensagem..." rows="4"
            formControlName="mensagem"
            [class.valid]="formContato.controls['mensagem'].valid"
            [class.invalid]="formContato.controls['mensagem'].invalid && (formContato.controls['mensagem'].touched || formContato.controls['mensagem'].dirty )"
            ></textarea>
            <div
            *ngIf="formContato.controls['mensagem'].invalid && (formContato.controls['mensagem'].touched || formContato.controls['mensagem'].dirty )">
            <small style="color:red" *ngIf="formContato.controls['mensagem'].hasError('minlength')">Esse campo
                precisa no minimo 20 caracteres.</small>
            <small style="color:red" *ngIf="formContato.controls['mensagem'].hasError('required')">Esse campo precisa
                ser preenchido</small>
        </div>
            <button [disabled]="formContato.invalid" (click)="enviarFormulario()">Enviar</button>

        </form>

    </div>
    <div class="section__contact">
        <p style="font-weight: bold; font-size: 17px;">Contatos:</p>
        <p><span style="font-weight:800">whatsapp: </span>71-9 91881008 </p>
        <p><span style="font-weight:800">E-mail: </span>usecouro_salvador@usecouro.com.br</p>
        <p><span style="font-weight:800 ">Endereço: </span> Endereço: Rua Estevam Barbosa Alves, nºº 12, Itapuã</p>

    </div>
</div>
<div class="div__address">

    <address>

        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.6158873210766!2d-38.36064018577349!3d-12.93239146252528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x71617a0092df1d3%3A0xb9997e28ecfadc91!2sRua%20Estevam%20Barbosa%20Alves%2C%2012%20-%20Nova%20Bras%C3%ADlia%20de%20Itapu%C3%A3%2C%20Salvador%20-%20BA%2C%2041610-625!5e0!3m2!1spt-BR!2sbr!4v1669899440394!5m2!1spt-BR!2sbr"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>


    </address>

    <p>Rua Estevam Barbosa Alves, 12 - Itapuã</p>
</div>