.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.container i {
    padding: 0 0 30px 0;
    font-size:150px;
}

.container h2 {
    font-size: 44px;
}